<div class="bgLogin">
    <div class="userDialogWrapper">
        <div class="loginLogo">
            <img src="../../images/loginLogo.png" class="logoImg">
            <div class="logoText">
                Ivan Farm technologies
            </div>
        </div>
        <form class="signIn" id="signNavigate">
            <a ui-sref="signin" class="uisref"><button type="button" class="signIn" >Sign In</button></a>
            <a ui-sref="signup" class="uisref"><button type="button" class="signUp" >Sign Up</button></a>
        </form>
    </div>
</div>
